body{
	/*noinspection CssNoGenericFontName*/
	font-family: AppleGothic;
	font-size: small;
	min-width: 250px;
	transition: 0.5s;
}
.pageTitle{
	text-align: center;
}

.todoTasksDivision{
	width: 75%;
	margin: 0 auto;
}

.todoActionBar{
	min-width: 250px;
	padding-bottom: 6px;
}
.tasksListHead{
	float: left;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	font-size: medium;
	opacity: 0.4;
	transition: 0.5s;
	width: 25%;
	display: inline-block;
}

.todoTasksListHead{
	display: inline-block;
}


.noTodoTasksMessage{
	color: lightgray;
	text-align: center;
	width: 20%;
	margin: 0 0 0 0 ;
	display: inline-block;
}


.markAllAsCompletedButton{
	float: right;
	display: inline-block;
	width: 20%;
}
.clearAllTodoButton{
	float: right;
	display: inline-block;
	width: 20%;
}


.taskList{
	list-style: none;
	padding-inline-start: 0;
	margin-bottom: 0;
}

.todoListElementText{
	word-break: break-all;
	font-size: 20px;
	margin-left: 1%;
	transition: 0.5s;
	display: inline-block;
	width: 90%;
	text-align: left;
	vertical-align: bottom;
}

.todoListElementTextHover{
	color: lightgray;
	text-decoration: line-through;
	transition: 0.5s;
}

.newTodoInput{
	/*text-align: center;*/
	padding-inline-start: 0;
	width: 75%;
	margin: 0 auto 2%;
	border-bottom: thin lightgray solid;
}

.newTodoPlusSymbol{
	font-size: large;
	color: darkgray;
	margin-left: 0.5%;
	margin-right: 1.6%;
}

/*noinspection CssNoGenericFontName*/
.newTodoInputField{
	width: 94%;
	font-size: 20px;
	outline: transparent;
	border: transparent;
	font-family: AppleGothic;

}

.completedTasksDivision{
	width: 75%;
	margin: 0 auto;
}

.completedActionsDivision{
	padding-bottom: 1%;
}

.markAllAsTodoButton{
	float: right;
	display: inline-block;
	width: 20%;
}

.clearAllCompletedButton{
	float: right;
	display: inline-block;
	width: 20%;
}

.completedListElementText{
	word-break: break-all;
	font-size: 20px;
	color:lightgray;
	text-decoration: line-through;
	text-align: left;
	transition: 0.5s;
	margin-left: 1%;
	display: inline-block;
	width: 90%;
	vertical-align: bottom;
}

.completedListElementTextHover{
	color: black;
	text-decoration: none;
	transition: 0.5s;
}

.noCompletedTasksMessage{
	color: lightgray;
	text-align: center;
	margin: 0 0 0 0 ;
	width: 20%;
	display: inline-block;
}

.compressed{
	opacity: 0.7;
	transition: 0.5s;
}

.tasksListElement{
	position: relative;
	min-width: 250px;
}

.tasksListElement:hover{
	cursor: pointer;
}

.listPlaceHolderElement{
	height: 7px;
}

.closeTaskButton{
	vertical-align: top;
	margin-left: 2%;
	margin-right: 1%;
	font-size: large;
	position: absolute;
	right: 0;
	margin-top: 0.3%;
	display: inline-block;
	opacity: 0;
}

.tasksListElement:hover .closeTaskButton{
	transition: 0.5s;
	opacity: 1;
}
.tasksListElement:hover .closeTaskButton:hover{
	transition: 0.5s;
	color: red;
}

.dragElement{
	font-size: large;
	cursor: move;
	color: lightgray;
	margin-left: 1%;
	vertical-align: top;
	margin-top: 0.3%;
	opacity: 0;
	display: inline-block;
}

.tasksListElement:hover .dragElement{
	transition: 0.5s;
	opacity: 1;
}
.tasksListElement:hover .dragElement:hover{
	transition: 0.5s;
	color: #555555;
}


.over {
	height: 4px;
	padding: 15px 0 15px 0;
}
[contenteditable]:focus{
	outline: 0 solid transparent;
}

.FocusElement {
	border-top: solid lightgray thin;
	border-bottom: solid lightgray thin;
}
.FocusElement .dragElement{
	opacity: 1;
}
.FocusElement .closeTaskButton{
	opacity: 1;
}

.contentEditing{
	cursor: text;
}

.overLastPlaceHolder{
	border-bottom: solid lightgray 1px;
}

.overFirstPlaceHolder{
	border-top: solid lightgray 1px;
}